*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cvWidth: 816px;
$textColor: #222;
$textColorAlt: #5c6a79;
$bgColor: blueviolet;
$linkColor: #0576ee;
$cvBg: #fff;

// DIMENSIONS OF A LETTER = 8.5 x 11 inches = 816 x  1056 px
@function get-vw($target) {
    $vw-context: (816 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

body {
    font-family: "Poppins", sans-serif;
}

legend {
    font-weight: 600;
}
.form-control {
    border-radius: 0;
}

.pageWrapper {
    display: flex;

    @media (max-width: 1260px) {
        flex-direction: column;
    }
}

.formHolder {
    width: 35%;
    padding: 15px;

    @media (max-width: 1260px) {
        width: 100%;
    }
}

.documentHolderBg {
    width: 100%;
    padding: 20px 0;
    background-color: $bgColor;

    @media (max-width: 1260px) {
        padding: 20px 10px;
    }
}

.documentHolder {
    width: 100%;
    position: relative;
    // max-height: 90vh;
    max-width: 816px;
    margin: auto;
}

.cvDocumentPage {
    width: 100%;
    // padding-top: (11 / 8.5) * 100%;
    color: $textColor;
    background-color: $cvBg;
    font-family: "Poppins", sans-serif;
    position: relative;

    .cvDocumentLayout {
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // position: absolute;
        padding: get-vw(50px) get-vw(20px);

        @media (min-width: ($cvWidth + 1)) {
            padding: 50px 20px;
        }
    }

    .subtitle {
        color: $textColorAlt;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 get-vw(12px);
        font-size: get-vw(20px);

        @media (min-width: ($cvWidth + 1)) {
            font-size: 20px;
            margin: 0 0 12px;
        }
    }

    p,
    li {
        margin: 0;
        line-height: 1.5;
        font-size: get-vw(14px);

        @media (min-width: ($cvWidth + 1)) {
            font-size: 14px;
        }
    }

    .block {
        padding: get-vw(10px) 0;
        border-bottom: 1px solid lighten($textColorAlt, 40%);

        @media (min-width: ($cvWidth + 1)) {
            padding: 10px 0;
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }

    .personalDetails {
        text-align: center;
        padding-top: 0;

        a {
            color: $linkColor;
        }

        h1 {
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.1;
            font-size: get-vw(32px);

            @media (min-width: ($cvWidth + 1)) {
                font-size: 32px;
            }
        }

        h2 {
            color: $textColorAlt;
            text-transform: uppercase;
            line-height: 1.2;
            margin: 0;
            font-weight: 400;
            font-size: get-vw(18px);

            @media (min-width: ($cvWidth + 1)) {
                font-size: 18px;
            }
        }

        p {
            margin: 0;
            line-height: 1.5;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: get-vw(14px);

            @media (min-width: ($cvWidth + 1)) {
                font-size: 14px;
            }

            svg {
                width: get-vw(16px);
                height: get-vw(16px);
                margin-right: get-vw(5px);

                @media (min-width: ($cvWidth + 1)) {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }
            }

            a,
            span {
                display: inline-flex;
                align-items: center;
            }
        }

        .spacer {
            padding-right: get-vw(15px);

            @media (min-width: ($cvWidth + 1)) {
                padding-right: 15px;
            }
        }
    }

    .workExperience {
        .singleWorkExperience {
            margin-bottom: get-vw(20px);

            @media (min-width: ($cvWidth + 1)) {
                margin-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .singleWorkMain {
            padding-left: get-vw(20px);
            border-left: get-vw(5px) solid $textColorAlt;

            @media (min-width: ($cvWidth + 1)) {
                padding-left: 20px;
                border-left: 5px solid $textColorAlt;
            }
        }

        .positionTitle {
            font-size: get-vw(18px);
            margin: 0 0 get-vw(5px);

            @media (min-width: ($cvWidth + 1)) {
                font-size: 18px;
                margin: 0 0 5px;
            }
        }

        .fromToTitle {
            margin: 0 0 get-vw(10px);

            @media (min-width: ($cvWidth + 1)) {
                margin: 0 0 10px;
            }
        }

        .singleWorkHighlights {
            padding-left: get-vw(35px);
            margin: 0;
            list-style-position: inside;

            @media (min-width: ($cvWidth + 1)) {
                padding-left: 35px;
            }
        }

        p {
            margin: 0 0 get-vw(5px);

            @media (min-width: ($cvWidth + 1)) {
                margin: 0 0 5px;
            }
        }
    }

    .educationDetails {
        .singleEducationDetails {
            margin-bottom: get-vw(20px);

            @media (min-width: ($cvWidth + 1)) {
                margin-bottom: 20px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .singleEducationMain {
            padding-left: get-vw(20px);
            border-left: get-vw(5px) solid $textColorAlt;

            @media (min-width: ($cvWidth + 1)) {
                padding-left: 20px;
                border-left: 5px solid $textColorAlt;
            }
        }

        .studyTypeTitle {
            font-size: get-vw(18px);
            margin: 0 0 get-vw(5px);

            @media (min-width: ($cvWidth + 1)) {
                font-size: 18px;
                margin: 0 0 5px;
            }
        }
    }

    .summaryList {
        padding-left: get-vw(20px);

        @media (min-width: ($cvWidth + 1)) {
            padding-left: 20px;
        }
    }

    .singleProfessionalSummary {
        margin-bottom: get-vw(3px);

        @media (min-width: ($cvWidth + 1)) {
            margin-bottom: 3px;
        }
    }
}
